.use-across-any-app-and-currency {
  left: 411px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 514px;
  width: 159px;
}

.use-across-any-app-and-currency.one-place-for-all-your-web3-possessions {
  left: 668px;
  text-shadow: 0px 4px 4px #00000040;
  top: 511px;
  width: unset;
}

.use-across-any-app-and-currency.works-everywhere {
  left: 421px;
  top: 733px;
  width: 164px;
}

.use-across-any-app-and-currency.chat-play-games-and-host-events {
  left: 1085px;
  top: 505px;
  width: 166px;
}

.use-across-any-app-and-currency.create-your-own-dao {
  left: 1339px;
  top: 509px;
  width: 198px;
}

